<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body>

<div th:replace="fragments/common :: navbar_unauthenticated">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section>
                <form action="#" method="post" class="form-horizontal" role="form" th:action="@{/account/login}">
                    <h4>Use a local account to log in.</h4>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>

                        <div class="col-md-10">
                            <input type="text" id="username" name="username" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>

                        <div class="col-md-10">
                            <input type="password" id="password" name="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input type="checkbox"/>
                                <label>Remember Me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a href="#" th:href="@{/account/register}">Register as a new user?</a>
                    </p>

                    <p>
                        <a href="#" th:href="@{/account/forgotpassword}">Forgot your password?</a>
                    </p>
                </form>
            </section>
        </div>
    </div>
    <footer th:replace="fragments/common :: foot"></footer>

</div>

<div th:replace="fragments/common::scripts_min"></div>
</body>
</html>