<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
</head>
<body ng-app="com.montana">

<!--@thymesVar id="profile" type="com.montana.viewmodels.home.ProfileViewModel"-->
<div th:replace="fragments/common :: navbar_authenticated"></div>

<div class="container">
    <div id="profile-cover-image" ng-controller="ProfileController" class="ng-cloak"
         th:attr="ng-init='initVars(\''+${profile.userName}+'\')'">
        <div class="cover">
        </div>
        <div id="timeline-headline" class="clearfix">
            <div class="actions-container">
                <div class="actions">
                    <div class="actions-dropdown" ng-switch="profile.friendship_status">

                    </div>
                </div>
            </div>
            <div class="name">
                <div>
                    <a class="profile-pic-thumb" href="/">
                        <img class="img-thumbnail profile-pic" ng-src="{{profile.profile_picture_url}}"/>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="fragments/post::postBox(${profile.userName})"></div>

</div>

<div th:replace="fragments/common::scripts_min"></div>
<div th:replace="fragments/common::scripts_ext"></div>
<script th:src="@{/resources/js/profile.js}"></script>
</body>
</html>