<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <link rel="stylesheet" th-href="@{/resources/bower_components/bootrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th-href="@{/resources/bower_components/font-awesome/css/font-awesome.min.css}"/>
</div>

<div th:fragment="menu">

</div>

<div th:fragment="scripts">
    <script th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bower_components/jquery/dist/js/jquery.min.js}"></script>
    <script th:src="@{/resources/bower_components/angular/angular.min.js}"></script>
    <script th:src="@{/resources/bower_components/angular-resource/angular-resource.min.js}"></script>
</div>

</body>
</html>