<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="postBox(userName)" class="row ng-cloak" ng-controller="PostController"
     th:attr="ng-init='initVars(\''+${userName}+'\');'">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Friends</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" ng-submit="addPost()">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Status</h3>
                        </div>
                        <div class="panel-body" ng-switch="embed.type">
                                <textarea class="msd-elastic" ng-model="message"
                                          ng-paste="postInputOnPaste($event.originalEvent)" id="status-update"
                                          placeholder="What is on your mind?"></textarea>
                            <!-- video type-->
                            <create-video-post ng-switch-when="video"></create-video-post>
                            <!-- link type -->
                            <create-link-post ng-switch-when="link"></create-link-post>
                            <!-- photo type -->
                            <create-photo-post ng-switch-when="photo"></create-photo-post>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-sm pull-right" type="submit">Post</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" ng-repeat="post in posts">
                <div class="panel panel-primary panel-post">
                    <div class="panel-heading">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="{{post.profilePic}}"/>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{post.from}}</h4>
                                {{post.created}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{post.message}}</p>

                        <div class="panel panel-default panel-inner-post">
                            <div class="panel-heading">
                                <img ng-src="{{post.picture}}" class="img-responsive center-block"
                                     style="width: 100%"/>
                            </div>
                            <div class="panel-body">
                                {{post.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="wall(userName)" class="row ng-cloak" ng-controller="WallController">

</div>
</body>
</html>